# edit and save as .env

DOMAINNAME=docker.localhost
SERVICENAME=listig
VOLUMES_DIR=./docker/volumes

LOG_LEVEL=debug

DB_PASSWORD=insecure-dev-password
DB_ROOT_PASSWORD=insecure-dev-password

LDAP_BIND_PASSWORD=admin

MAIL_HOST=mail.mind-hochschul-netzwerk.de
MAIL_USER=system@mind-hochschul-netzwerk.de
MAIL_PASSWORD=insecure-dev-password

# 32 random bytes, base64-encoded. Used for AES-256-CBC and HMAC-SHA256.
APP_SECRET=insecure-dev-secret

OIDC_CLIENT_SECRET=insecure-dev-secret
